:root {
  --primary: aqua;
  --secondary: red;
  --tertiary: blue;
  --quaternary: white;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  box-sizing: border-box;
}

html {
  margin-top: -20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url(img/bg_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 3s;

  animation-name: animate;
  animation-direction: alternate;
  animation-duration: 60s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

@keyframes animate {
  0% {
    background-image: url(img/bg_1.png);
  }
  10% {
    background-image: url(img/bg_2.png);
  }
  20% {
    background-image: url(img/bg_3.png);
  }
  30% {
    background-image: url(img/bg_4.png);
  }
  40% {
    background-image: url(img/bg_5.png);
  }
  50% {
    background-image: url(img/bg_7.png);
  }
  60% {
    background-image: url(img/bg_8.png);
  }
  70% {
    background-image: url(img/bg_9.png);
  }
  80% {
    background-image: url(img/bg_10.png);
  }
  90% {
    background-image: url(img/bg_11.png);
  }
  100% {
    background-image: url(img/bg_12.png);
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  height: 100px;
}

nav ul {
  display: flex;
  gap: 8rem;
}

nav li {
  padding: 0.5rem 0.75rem;
  color: aqua;
  list-style: none;
  border: solid var(--tertiary) 2px;
  border-radius: 20px;
}

nav li:hover {
  color: var(--tertiary);
  background-color: var(--primary);
  transition: all 5s cubic-bezier(0.19, 1, 0.22, 1);
}

nav h1 {
  color: var(--tertiary);
  cursor: context-menu;
}

nav h1 span {
  color: var(--primary);
}

nav a {
  text-decoration: none;
}

section.title h2 {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

div.about {
  display: flex;
  justify-content: center;
  margin-top: 14rem;
}

section.title div.about a {
  text-decoration: none;
  color: var(--quaternary);
  padding: 0;
  padding: 0.25rem 0.5rem;
  border: solid var(--quaternary) 2px;
  border-radius: 10px;
}

div.about a:hover {
  color: black;
  background-color: rgb(139, 0, 0);
}
