header {
  width: 100%;
  padding-block: 0.5rem;
  background: rgb(125, 125, 125);
}

nav {
  display: flex;
  justify-content: var(--nav-spacing);
}

ul {
  padding: 0;
  list-style: none;
  margin-inline: auto;
  display: flex;
  gap: 5rem;
  /* position: relative; */
}

.nav-item {
  padding: var(--nav-link-padding);
  text-decoration: none;
  border-radius: 1rem;
  font-size: 1.25rem;
  transition: all ease-in-out 500ms;
  position: relative;
}

.nav-item:hover {
  /* background: linear-gradient(90deg, #8b46c5, #df98c1);
    background-clip: text;
    color: transparent; */
  background-color: var(--accent);
  color: var(--nav-hover-color);
}
