:root {
  --blue: rgb(74, 174, 255);
  --blue-muted: rgba(74, 174, 255, 0.2);
  --primary-muted: #85e7ca7c;
  --primary: aquamarine;
}

h3 {
  margin-block: 0;
}

#github .container {
  border-top: solid var(--primary-muted) 1px;
  padding-block: 40px 80px;
}

#reposcontainer {
  display: grid;
  gap: 20px 40px;
}

@media (min-wdith: 46rem) {
  #reposContainer {
    grid-template-columns: 1fr 1fr;
  }
}

.repo-info {
  border: solid var(--primary-muted) 1px;
  border-radius: 10px;
  padding: 14px 20px;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: max-content auto max-content max-content;
  gap: 10px 30px;

  align-items: center;
  color: black;
}

/* .repo-info h3,
.repo-info p.desc {
  grid-column: 1 / 3;
} */

.repo-info h3 {
  font-family: monospace;
  font-size: 18px;
  font-weight: 500;
  text-transform: lowercase;
}

.repo-info p.desc {
  margin-bottom: 14px;
  font-size: 14px;
}

.repo-info li {
  display: inline-flex;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--blue);
  background-color: var(--blue-muted);
  justify-self: start;
  padding: 5px 11px;
  border-radius: 30px;
  list-style: none;
}

.repo-info a {
  font-size: 14px;
  justify-self: end;
}

div.repo-info a {
  text-decoration: none;
  padding: 4px 10px;
  border: solid rgb(109, 248, 78) 2px;
  border-radius: 10px;
}

.repo-info ul {
  display: flex;
  align-items: center;
  gap: 8px;
}

#cta .container {
  background-color: var(--primary);

  padding: 40px 60px 50px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.678);

  margin-bottom: -80px;
  position: relative;
}

#cta img {
  width: 60px;
}

#cta i {
  font-size: 20px;
}

.contact-buttons a {
  text-decoration: none;
  display: inline-flex;
  background-color: white;
  border-radius: 20px;
  align-items: center;
  padding: 12px 18px;
  border: rgb(157, 63, 157) solid 2px;

  font-weight: 600;
  margin-inline: 4px;
  margin-top: 20px;
}

#cta a {
  gap: 10px;
}
