:root {
  --blue: rgb(74, 174, 255);
  --blue-muted: rgba(74, 174, 255, 0.2);
  --primary-muted: #85e7ca7c;
}

h3 {
  margin-block: 0;
}

#github .container {
  border-top: solid var(--primary-muted) 1px;
  padding-block: 40px 80px;
}

#reposcontainer {
  display: grid;
  gap: 20px 40px;
}

@media (min-wdith: 46rem) {
  #reposContainer {
    grid-template-columns: 1fr 1fr;
  }
}

.repo-info {
  border: solid var(--primary-muted) 1px;
  padding: 14px 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content auto max-content;
  gap: 10px 30px;

  align-items: center;
  color: black;
}

.repo-info h3,
.repo-info p.desc {
  grid-column: 1 / 3;
}

.repo-info h3 {
  font-family: monospace;
  font-size: 18px;
  font-weight: 500;
  text-transform: lowercase;
}

.repo-info p.desc {
  margin-bottom: 14px;
  font-size: 14px;
}

.repo-info p.language {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--blue);
  background-color: var(--blue-muted);
  justify-self: start;
  padding: 5px 11px;
  border-radius: 30px;
}

.repo-info a {
  font-size: 14px;
  justify-self: end;
}
